<h1>Editing sample form</h1>

<%= render "form", sample_form: @sample_form %>

<br>

<div>
  <%= link_to "Show this sample form", @sample_form %> |
  <%= link_to "Back to sample forms", sample_forms_path %>
</div>
